body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
}