:root {
    /* Font Sizes */
    --fs-large: 2.5rem;
    --fs-medium: 1rem;
    --fs-small: 1rem;

    /* Colors */
    --color-bg: #333;
    --color-text: #f3f3f3;
    --color-primary: #9834eb;
    --color-secondary: #34ebd8;

}

@media screen and (min-width:700px) {
    :root {
        --fs-large: 3.5rem;
        --fs-medium: 1.5rem;
    }
}