h1 {
    font-size: var(--fs-large);
    margin-bottom: 1rem;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: var(--fs-medium);
    margin-bottom: 2rem;
}